*{
    margin: 0%;
    height: 0%;
}

.header-block{
    width: 100vw;
    height: 20vh;
    background-color: red;
    color:beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
}
.header-block img{
    margin: 70px;
    width: 70px;
    height: 80px;
    
}

.header-block input{
    width: 100%;
    height: 15px;
}

.header-block button{
    margin-left: 22%;
    width: 30%;
    height: 12%;
    margin-right: 30px;
    background-color: #fff;
    border: 1px solid #282828;
    color: black;
    column-gap: 10px;

}
#quem-somos {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px; 
    animation: aparecer 3s;
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#quem-somos h2 {
    margin-bottom: 50px; 
}

#quem-somos div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); 
   


}

#quem-somos img {
    width: 100%; 
    height: 100%; 

    
}

#quem-somos div {
    padding: 250px; 
}

#quem-somos p {
    font-size: 16px; 
    line-height: 1.5; 
    color: #666; 
}

#quem-somos div p:last-child {
    margin-bottom: 0; 
}
    

    

