
*{
    margin: 0%;
    padding: 0%;
}

.conteiner{
    width: 100vw;
    height: 100vh;
    background-color: #150f24;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-block{
    width: 40%;
    height: 40%;
    background-color: #0f0d22;
    color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    @media screen and (min-width: 300px) {
        width: 30%;
        height: 40%;
        font-size: 14px;
        
    }
}

.login-block p{
    margin: 10px;
}

.login-block button{
    background-color: #282828;
    color: beige;
    width: 80%;
    height: 30%;
    border: 5px solid #757575;
    margin-top: 10px;
}

.login-block input{
    @media screen and (min-width:300px) {
        width: 20%;
        height: 30%;
        font-size: 14px;
        
        
    }
}


    
